<ion-content>
  <ion-card>
    <ion-card-header>
    {{ usuario!.nombre }} {{ usuario!.apellido }}
    </ion-card-header>
    <ion-card-content>
    <!-- Puedes agregar más detalles del usuario aquí si es necesario -->
    Correo: {{ usuario!.correo }}
    <!-- Otros detalles del usuario... -->
    </ion-card-content>
  </ion-card> 
  <ion-card *ngFor="let usuario of filtrarUsuario();">
    <ion-card-header>
      {{ usuario.nombre }} {{ usuario.apellido }}
    </ion-card-header>
    <ion-card-content>
      <!-- Muestra otras propiedades del usuario según sea necesario -->
      Correo: {{ usuario.correo }}
      <br>
      <ion-button class="ion-float-right" (click)="eliminarUsuario(usuario)">Eliminar</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
