<div class="flex-wrap align-content justify-content align-items">

  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>Asistencia DUOC - Incorrecto</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card class="center-content">
    <ion-card-header>
      <ion-card-title size="large">Incorrecto</ion-card-title>

    </ion-card-header>
    <ion-card-content>
      <img alt="Silhouette of mountains" width="150px" height="150px"
        src="https://cdn.discordapp.com/attachments/1156738073359568947/1167622828397436999/image.png?ex=654ecc7f&is=653c577f&hm=45a2174a16e0091dd43e23ec9d535c65073a27fd87e94670d504f3faa7a1b2e0&" />
    </ion-card-content>
  </ion-card>
  <!-- <ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">incorrecto</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content> -->