<ion-content  fullscreen class="background">
  <ion-header >
    <ion-card-header>
      <img alt="DUOC UC"
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Logo_DuocUC.svg/711px-Logo_DuocUC.svg.png" />
      <ion-card-title class="ion-text-center texto">Asistencia DuocUC</ion-card-title>
    </ion-card-header>
  </ion-header>

  <br>

  <ion-card color="light" class="cardcontenido">
    <br>
    <ion-card-title class="ion-text-center label">
      <br><br>
      Paso 2: Responder pregunta secreta
      <br><br>
      {{ preguntaSecreta }}
    </ion-card-title>
    <ion-card>
      <ion-item>
        <ion-label position="floating">Respuesta</ion-label>
        <ion-input [(ngModel)]="respuestaSecreta" placeholder="Ingrese su respuesta secreta"></ion-input>
      </ion-item>
    </ion-card>

    <ion-card> 
      <ion-button expand="full" (click)="comprobarRespuesta(respuestaSecreta)">Verificar Respuesta</ion-button>
    </ion-card> 
    <ion-card> 
      <ion-button expand="full" (click)="volverIngreso()">Regresar</ion-button>
    </ion-card> 
   
   
   </ion-card>
  
 


   

   



</ion-content>
